body {
  margin: 0px;
  font-family: "Lato";
  background-color: #ffffff;
}

.main-area {
  width: 100%;
  height: 1000px;
  background-image: url("../assets/header-area.png");
  background-size: cover;
}

.main-area__header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  font-weight: 400;
}

.main-area__header__left-block {
  min-width: 260px;
  display: flex;
  justify-content: space-between;
}

.main-area__header__right-block {
  min-width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-area__header__right-block--gray-text {
  color: #b5b5b6;
}

.main-area__header__logo {
  margin-top: 6px;
}

.main-area__header__right-block--button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  width: 120px;
  height: 32px;
  line-height: 32px;
  color: white;
  background-color: #267df4;
  opacity: 1;
}

.main-area__header__right-block--button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.main-text {
  width: 100%;
}

.main-text--bold {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  font-size: 62px;
  font-family: "Varela Round";
  font-weight: 400;
}

.main-text--small {
  display: flex;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  max-width: 40%;
  margin: 0 auto;
  color: #8c8f94;
}

.main-area__watch-button-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  font-size: 16px;
  font-weight: 400;
}

.main-area__watch-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 160px;
  height: 36px;
  line-height: 32px;
  border: 1px solid #dadcde;
  border-radius: 20px;
}

.main-area__watch-button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}

.features-area {
  width: 100%;
  height: 550px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.features-area__left-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px;
  width: 28%;
}

.features-area__right-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px;
  width: 28%;
}

.features-area--headline {
  font-size: 26px;
  margin: 26px 0px;
}

.features-area--text {
  font-size: 18px;
  color: #94979b;
}

.phone-area {
  width: 100%;
  height: 1050px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.phone-area__text {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

.phone-area__text--headline {
  font-size: 42px;
  font-family: "Varela Round";
  font-weight: 900;
  margin-bottom: 50px;
}

.phone-area__text--info {
  font-size: 20px;
  color: #94979b;
}

.phone-area__text__buttons {
  display: flex;
  margin-top: 80px;
}

.phone-area__text__button--left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  width: 180px;
  height: 40px;
  line-height: 38px;
  color: white;
  background-color: #267df4;
  border: 1px solid #267df4;
  margin-right: 22px;
}

.phone-area__text__button--right {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 140px;
  height: 40px;
  line-height: 30px;
  border: 1px solid #e9e9ea;
}

.location-area {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 850px;
}

.location-area__text {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

.location-area__text--headline {
  font-size: 42px;
  font-family: "Varela Round";
  font-weight: 900;
  margin-bottom: 50px;
}

.location-area__text--info {
  font-size: 20px;
  color: #94979b;
}

.location-area__text--small {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
}

.location-area__text--buttons > img {
  padding-top: 26px;
  padding-right: 22px;
}

.interface-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1750px;
  background-color: #f5f5f8;
}

.interface-area__headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 130px;
}

.interface-area__headline--header {
  font-size: 42px;
  font-family: "Varela Round";
  padding: 30px;
}

.interface-area__headline--text {
  font-size: 12px;
  text-transform: uppercase;
  color: #94979b;
  padding: 30px;
}

.interface-area__interfaces {
  margin-top: 400px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interface-area__interfaces--iphone {
  position: absolute;
  margin: 0 auto;
  width: 1100px;
  display: flex;
  justify-content: center;
}

.interface-area__interfaces--screens {
  position: absolute;
  margin: 0 auto;
  width: 1100px;
  display: flex;
  justify-content: space-between;
}

.interface-area__interfaces--screen1,
.interface-area__interfaces--screen3 {
  opacity: 0.6;
  box-shadow: 0 40px 56px rgba(0, 0, 0, 0.1), 0 16px 26px rgba(0, 0, 0, 0.1);
}

.interface-area__interfaces--screen1:hover,
.interface-area__interfaces--screen3:hover {
  opacity: 1;
  box-shadow: 0 40px 56px rgba(0, 0, 0, 0.25), 0 16px 26px rgba(0, 0, 0, 0.22);
}

.interface-area__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 540px;
}

.interface-area__text--small {
  text-transform: uppercase;
  font-size: 12px;
  text-transform: uppercase;
  color: #94979b;
  margin-bottom: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.interface-area__text--big {
  font-size: 42px;
  font-family: "Varela Round";
}

.interface-area__text--input {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 520px;
  height: 48px;
  border: 1px solid #cbcbce;
  border-radius: 30px;
  line-height: 38px;
  font-size: 16px;
}

.interface-area__text--input-area {
  margin-left: 30px;
  font-weight: 700;
}

.interface-area__text--button-area {
  color: white;
  margin-right: 2px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 160px;
  height: 44px;
  background-color: #6fc754;
  border-radius: 30px;
}

.interface-area__download {
  margin-top: 50px;
}

.interface-area__download--text {
  font-size: 12px;
  text-transform: uppercase;
  color: #d4d5d9;
  letter-spacing: 1px;
  margin-top: 50px;
}

.interface-area__download--button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #131315;
  font-size: 10px;
  width: 160px;
  height: 48px;
  line-height: 14px;
  border-radius: 30px;
  margin-top: 20px;
}

.interface-area__download--button-text--big {
  font-size: 18px;
}

.interface-area__download--apple-icon {
  margin-right: 10px;
}

.reviews-area {
  width: 100%;
  height: 750px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.reviews-area__slider {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 100px;
}

.reviews-area__slider--img {
  width: 80px;
  height: 80px;
  opacity: 0.5;
}

.reviews-area__slider--img:hover {
  cursor: pointer;
}

.reviews-area__slider--onclick {
  opacity: 1;
  transform: scale(1.2);
}

.reviews-area__info {
  width: 40%;
  min-height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  text-align: center;
}

.reviews-area__info--headline {
  font-size: 32px;
}

.reviews-area__info--text {
  margin-top: 40px;
  font-size: 20px;
  color: #8c8f94;
}

.checked {
  margin-top: 30px;
  color: orange;
}

.reviews-area__info--name {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
  margin-top: 60px;
}

.price-area {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 900px;
  background-color: #f4f4f5;
}

.price-area__choose {
  width: 420px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.price-area__choose--text-big {
  font-size: 42px;
  font-family: "Varela Round";
  margin: 40px 0px;
}

.price-area__choose--text-before-button {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  margin-bottom: 16px;
}

.price-area__choose--buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #d6d6d7;
  width: 250px;
  height: 46px;
  border-radius: 30px;
  border: 1px solid #d6d6d7;
}

.price-area__choose--button {
  margin: 0 28px;
  cursor: pointer;
}

.price-area__choose--button-changed-style {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  width: 124px;
  height: 40px;
  border-radius: 30px;
  background-color: #ffffff;
  color: black;
  box-shadow: 0 40px 56px rgba(0, 0, 0, 0.1), 0 20px 30px rgba(0, 0, 0, 0.1);
}

.price-area__choose--text-gray {
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 20px;
  color: #93969b;
}

.price-area__choose--text-lastline {
  font-size: 14px;
  color: #93969b;
}

.price-area__cards {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-area__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8e8ea;
  width: 300px;
  height: 500px;
  border-radius: 10px;
}

.price-area__card--headline {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 40px;
}

.price-area__card--text-in-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 26px;
  border: 1px solid #d4d4d5;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 40px;
}

.price-area__card--gray-text {
  font-size: 20px;
  color: #8c8f94;
  text-align: center;
  margin-bottom: 40px;
}

.price-area__card--list {
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  font-weight: 700;
}

.price-area__card--button {
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #267df4;
  width: 180px;
  height: 36px;
  line-height: 34px;
  border: 1px solid #267df4;
  border-radius: 20px;
  font-weight: 600;
}

.price-area__card--changed-style {
  background-color: #ffffff;
  width: 320px;
  height: 520px;
  box-shadow: 0 40px 56px rgba(0, 0, 0, 0.1), 0 20px 30px rgba(0, 0, 0, 0.1);
}

.price-area__card--changed-style > .price-area__card--button {
  background-color: #267df4;
  color: #fff;
}

.email-area {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
}

.email-area__headline {
  font-size: 42px;
  font-family: "Varela Round";
  margin-bottom: 30px;
}

.email-area__input {
  width: 560px;
  height: 40px;
  border: 1px solid #d4d4d5;
  border-radius: 30px;
  padding: 2px;
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  width: 350px;
  height: 40px;
  padding: 0px 16px;
}

.email-area__input--button:active,
.email-area__input--button:focus {
  outline: none !important;
}

.email-area__input--button:active {
  color: rgb(124, 118, 118);
}

.email-area__input--button {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 150px;
  border-radius: 30px;
  background-color: #6fc754;
  color: white;
}

.email-area__gray-text {
  margin-top: 20px;
  font-size: 14px;
  color: #94979b;
  font-weight: 600;
}

.email-area__divdier {
  position: absolute;
  bottom: 0px;
}

.contacts-area {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 400px;
  margin-top: 100px;
}

.contacts-area__left-block {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 20%;
  padding-top: 20px;
}

.contacts-area__left-block--gray-text {
  margin: 30px 0px;
  font-size: 14px;
  color: #8c8f94;
}

.contacts-area__left-block--icons {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.contacts-area__left-block--icons > img {
  margin: 12px;
}

.contacts-area__right-block {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-right: 20%;
}

.contacts-area__right-block--headline {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 1px;
}

.contacts-area__right-block--text {
  font-size: 16px;
  color: #8c8f94;
  line-height: 40px;
}